.center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(198, 255, 26);
    flex-direction: column;
    border: 1px solid black;
    width: 400px;
    height: 500px; 
    margin: 30px;
    border-radius: 22px;
    
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.textalign {
    text-align: center;
}