.App {
  text-align: center;
 
}

.centerHOC {
  display: flex;
  justify-content: space-around;
}

.Cntr-cntnr {
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* align-items: center; */
  justify-content: space-around;
}